[Unit]
Description=Some Moodle Container (some-moodle.service)
Requires=docker.service moodle-postgres.service
After=docker.service moodle-postgres.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %N
ExecStartPre=-/usr/bin/docker rm %N
ExecStartPre=/usr/bin/docker pull venatorfox/moodle:MOODLE_37_STABLE
ExecStart=/usr/bin/docker run -t --rm --name %N \
                                 --network moodle-network \
                                 --env NGINX_MAX_BODY_SIZE=64M \
                                 --env PHPFPM_UPLOAD_MAX_FILESIZE=64M \
                                 --env PHPFPM_POST_MAX_SIZE=64M \
                                 --env PHPFPM_MAX_EXECUTION_TIME=60 \
                                 --env MOODLECFG_SSLPROXY=true \
                                 --env MOODLE_WWWROOT=https://localhost \
                                 --env MOODLE_DBHOST=moodle-postgres \
                                 --env MOODLE_DBNAME=moodle \
                                 --env MOODLE_DBUSER=moodle \
                                 --env MOODLE_DBPASS=moodle \
                                 --env MOODLE_FULLNAME=Some\x20Full\x20Organization\x20Name \
                                 --env MOODLE_SHORTNAME=SFON \
                                 --env MOODLE_SUMMARY=This\x20is\x20the\x20LMS\x20for\x20Some\x20Full\x20Organization \
                                 --env MOODLE_ADMINUSER=admin \
                                 --env MOODLE_ADMINPASS=password \
                                 --env MOODLE_ADMINEMAIL=adam.w.zheng@icloud.com \
                                 --env INSTALL_PLUGIN_URLS=https://moodle.org/plugins/download.php/19164/auth_saml2_moodle35_2019022100.zip\x20https://moodle.org/plugins/download.php/19871/theme_adaptable_moodle37_2019062800.zip \
                                 --volume /srv/docker/volumes/%N/moodledata/:/var/moodledata/:Z \
                                 venatorfox/moodle:MOODLE_37_STABLE
ExecStop=/usr/bin/docker stop %N

[Install]
WantedBy=multi-user.target
